
  body {
    background-image: url("star\ war.jpg");
    background-repeat: no-repeat;
  
  }


.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074D9; /* Blue background color */
  color: #fff; /* White text color */
  text-decoration: none;
  border: 2px solid #0074D9; /* Blue border */
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}



.button-link:hover {
  background-color: #0056A0; /* Darker blue for hover effect */
  border: 2px solid #0056A0; /* Darker border for hover effect */
}

