

body {
      margin: 0;
      padding: 0;
      background: url('star war.jpg') no-repeat center center fixed;
      background-size: cover;
      text-align: center;
      color: #fff; 
  }


.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074D9; 
  color: #fff; 
  text-decoration: none;
  border: 2px solid #0074D9; 
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}



.button-link:hover {
  background-color: #0056A0; /* Darker blue for hover effect */
  border: 2px solid #0056A0; /* Darker border for hover effect */
}

